
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
#customers tr:nth-child(even){
  background-color: #f2f2f2;
}
  
#customers tr:hover{
  background-color: #ddd;
}
  
#customers th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#DF2E38;
  color: white;
}

.heading{
  background-color: black;
  color:white;
  text-align: center;
  font-size: 25px;
  }
  a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: arial black;
    text-align: right;
    padding-top: 50px;
}
a :hover{
    color: rgb(255, 0, 0);
}
.myInput {
  background-image: url('search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}