body{
    background-color: rgb(255, 239, 239);
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
table{
    text-align: center;
    font-family: arial black;
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: arial black;
    text-align: right;
    padding-top: 50px;
}
a :hover{
    color: rgb(255, 0, 0);
}
.butt{
	
    height: 29px;
    width: 5%;
    font-size: 13px;
    font-family: arial black;
    border-radius: 8px;
    border-color: rgb(255, 0, 0);
}
select{
    border-radius: 5px;
}
