body{
	background-color: black;
	background-image: url(login.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(6px);-webkit-backdrop-filter: 
	blur(6px);background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;border: 0.5px solid rgba(255, 255, 255, 0.18);
}

.heading{
	color: whitesmoke;
    font-family:'Arial Black' ;
    font-size: 260%;
	
}
.floating-label{
	color: aliceblue;
}
.user-input-wrp input{
    width: 10%;
    height: 15px;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    position: relative;
    outline: none
}
.user-input-wrp {
	position: relative;
	width: 15%;
}
.user-input-wrp .inputText{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid cyan;
 	box-shadow: none !important;
}
.user-input-wrp .inputText:focus{
	border-color: red;
	border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 18px;
	left: 10px;
	transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}

.button1{
	background-color: black;
	color: gray;
    height: 29px;
    width: 5%;
    font-size: 13px;
    border-radius: 8px;
	border-color: white;
}
.button1:hover{
    font-size: 15px;
	border-color: cyan;
}
img{
	height: 2%;
	width: 2%;
}
a{
    color:cyan;
    text-decoration: none;
}
a:hover{
	color:red;
}